<div class="row-fluid">
  <div class="span12">
    <a href="/">Home</a>
    |
    <a href="/setup">Setup</a>
    |
    <a href="/login">Login</a>
    |
    <a href="/logout">Logout</a>
  </div>
</div>
